@page {
    size: Letter landscape;
    margin: 10px;
  }
  @media print {
    @page {
      size: Letter landscape;
      margin: 10px;
    }
    .no-print {
      display: none !important;
    }
    .tabel-normal table,
    .tabel-normal thead,
    .tabel-normal tbody,
    .tabel-normal tfoot,
    .tabel-normal tr,
    .tabel-normal th,
    .tabel-normal td {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        border-collapse: inherit;
        border-spacing: 0;
        border-color: inherit;
        vertical-align: inherit;
        text-align: left;
        font-weight: inherit;
        -webkit-border-horizontal-spacing: 0;
        -webkit-border-vertical-spacing: 0;
    }
    body {
      size: Letter landscape;
      margin: 5px;
      font-family: Arial, Helvetica;
    }
    .judul_laporan {
      text-align: center;
      font-size: 13pt;
      width: 100%;
    }
    .judul_blok {
      font-size: 11pt;
      text-align: justify;
      font-weight: bold;
      border-bottom: 1px solid black;
      width: 100%;
      margin: 0;
    }
    table {
      table-layout:fixed;
      margin: 5px 0px 30px 0px;
      width: 1040px;
      border: 1px solid black;
      border-collapse: collapse;
      border-spacing: 0;
    }
    th, td {
      width:1px;
      padding: 3px;
      font-size: 10pt;
    }
    th {
      background-color: #12817E;
      color: #FFF;
    }
    .angka {
      text-align: right;
    }
    .tengah {
      text-align: center;
    }
    .kiri {
      text-align: left;
    }
    .ganjil {
      background-color: #F9F9F9;
    }
    .genap {
      background-color: #E5E5E5;
    }
    table { page-break-inside:auto } tr { page-break-inside:avoid; page-break-after:auto }
  }
  body {
    size: Letter landscape;
    margin: 5px;
    font-family: Arial, Helvetica;
  }
  .judul_laporan {
    text-align: center;
    font-size: 15pt;
    width: 100%;
  }
  .judul_blok {
    font-size: 13pt;
    text-align: justify;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0;
  }
  table {
    table-layout:fixed;
    margin: 5px 0px 30px 0px;
    width: 1040px;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th, td {
    width:1px;
    padding: 3px;
    font-size: 7pt;
  }
  th {
    background-color: #12817E;
    color: #FFF;
  }
  .angka {
    text-align: right;
  }
  .tengah {
    text-align: center;
  }
  .kiri {
    text-align: left;
  }
  .ganjil {
    background-color: #F9F9F9;
  }
  .genap {
    background-color: #E5E5E5;
  }
  table { page-break-inside:auto } tr { page-break-inside:avoid; page-break-after:auto }
